/* src\components\Home\styles.css */

.container{
    margin-top: 100px;
}
.container img {
    width: 200px;
    margin-bottom: 20px;
}
  
h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #284ea7;
}